body
{
	background-color: #cfcfcf;
}

.search-box
{
	display: block;
}

.card
{
	display: inline-block;
	height: 378px;
	width: 270px;
	background-clip: border-box;
	margin: 5px;
	background-color: gray;
	outline: 10px solid black;
	outline-offset: -10px;
	overflow: hidden;
}

.card-name
{
	text-align: center;
	margin-top: 20%;
}

.card-image
{
	width: 100%;
}