html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

html, body
{
	height: 100%;
}

body
{
	margin: 0;
}

.searchArea
{
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	overflow: auto;
}

.deskArea
{
	height: calc(100% - 100px);
	overflow: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.searching .searchArea
{
	height: calc(100% - 100px);
}

.searchArea .card
{
	display: none;
}

.searching .searchArea .card
{
	display: inline-block;
}

.searching .deskArea
{
	height: 100px;
}

.searching .deskArea .card
{
	width: 64px;
	height: 90px;
}

.search-box
{
	height: 40px;
	display: block;
	width: 600px;
	margin: 30px auto 25px;
}

.card
{
	display: inline-block;
	height: 378px;
	width: 270px;
	margin: 5px;
	background-color: gray;
	//outline: 10px solid black;
	outline-offset: -10px;
	overflow: hidden;
}

.card-name
{
	text-align: center;
	margin-top: 20%;
}

.card-image
{
	width: 100%;
}