
.search-box
{
	transition: all 350ms ease-out;
}


.searchArea, .deskArea
{
	transition: height 300ms ease-out;
}


.deskArea .card
{
	transition: all 300ms ease-in-out 400ms;
	transition-property: height, width; /* overrides all :) */
}

.card
{
	transition: transform ease-out 500ms;
}

.card:hover
{
	transform: scale3d(1.05, 1.05, 1.05);
}