.splash
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 25%;
	background-color: #87D37C;
	box-shadow: 4px 0 4px rgba(0,0,0,0.2);
}

.splash h1
{
	text-align: center;
}

.loaded .splash
{
	margin-left: -120%;
}