
.search-box
{
	transition: all 150ms ease-out;
}

.search-block
{
	transition: box-shadow 150ms;
}

.searchArea, .deskArea
{
	transition: height 300ms ease-out;
}

.deskArea .card, .deskArea .card::after
{
	transition: all 300ms ease-in-out 400ms;
}

.deskArea .card
{
	transition-property: height, width, border-radius, transform; /* overrides all :) */
}

.deskArea .card:hover
{
	transition-delay: 0s;
	transition-duration: 100ms;
}

.deskArea .card::after
{
	transition-property: border-width, border-radius; /* overrides all :) */
}

.card
{
	transition: transform ease-out 200ms;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.splash
{
	transition: margin-left 800ms ease-out 200ms;
}