<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Dice Masters Cards</title>
		<link rel="icon" type="image/png" href="img/dicemasters-storm.png">

		<!-- build:css -->
		<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" type="text/css" href="bower_components/nanoscroller/bin/css/nanoscroller.css">
		<link rel="stylesheet" type="text/css" href="bower_components/bootswatch/paper/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="bower_components/ngprogress/ngProgress.css">
		<link rel="stylesheet" type="text/css" href="css/angular-animations.css">
		<link rel="stylesheet" type="text/css" href="css/preload-images.css">
		<link rel="stylesheet" type="text/css" href="css/splash-screen.css">
		<link rel="stylesheet" type="text/css" href="css/transitions.css">
		<link rel="stylesheet" type="text/css" href="css/search.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- endbuild -->
	</head>
	<body ng-app="diceMasters" ng-controller="main" class="searching" ng-class="{'searching': isSearching(), 'loaded': true}">

		<div class="deskArea" ng-controller="desk" ng-click="setSearching(false)">
			<div class="cards" scrollable>
				<div class="card card-animation" ng-repeat="card in getCards()">
					<div class="card-name" ng-if="!card.image">{{card.name}}</div>
					<img class="card-image" ng-if="card.image" ng-src="{{card.image}}">
					<div class="hover-overlay">
						<md-button class="md-fab md-warn remove-button" ng-click="unSave(card.name)" >
							<md-icon icon="img/ic_remove_24px.svg" style="width: 24px; height: 24px;"></md-icon>
						</md-button>
					</div>
				</div>
			</div>
		</div>

		<div class="searchArea" ng-controller="search" ng-click="setSearching(true)">
			<div class="form-group search-block">
				<input autofocus type="text"
					   class="search-box form-control input-lg"
					   placeholder="e.g. Captain America"
					   ng-model="query" ng-change="searchDebounced(query)"
					   ng-focus="setSearching(true)"
					   ng-keypress="key($event)"
					   ng-blur="search(query)"
					   adr-select-on-click>
			</div>
			<div class="cards" scrollable="{tabIndex: -1}">
				<div class="card card-animation" ng-repeat="card in getCards()" ng-class="{'full': card.image}">
					<div class="card-name" ng-if="!card.image">
						<div class="title">{{card.title}}</div>
						<div class="subtitle">{{card.subtitle}}</div>
					</div>
					<div class="card-apology" ng-if="!card.image && card.rarity">
						<div class="apology-text">No image available.</div>
					</div>
					<img class="card-image" ng-if="card.image" ng-src="{{card.image}}">
					<div class="hover-overlay">
						<md-button class="md-fab md-primary add-button" ng-click="save(card.name)" >
							<md-icon icon="img/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
						</md-button>
					</div>
				</div>
			</div>
		</div>

		<div class="splash">
			<h1></h1>
		</div>

		<!-- build:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/socket.io-client/socket.io.js"></script>
		<script src="bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/hammerjs/hammer.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<script src="bower_components/ngprogress/build/ngProgress.js"></script>
		<script src="bower_components/angular-nanoscroller/scrollable.js"></script>

		<script src="js/controllers/main.js"></script>
		<script src="js/controllers/search.js"></script>
		<script src="js/controllers/desk.js"></script>

		<script src="js/factories/cards.js"></script>
		<script src="js/factories/socketio.js"></script>

		<script src="js/directives/select-on-focus.js"></script>

		<script src="js/app.js"></script>
		<script src="js/non-angular.js"></script>
		<!-- endbuild -->

	</body>
</html>